## Mission 2: Exploring and Analyzing Data with Pandas

Objective:

In this mission, you will perform Exploratory Data Analysis (EDA) and basic data manipulation using Pandas. You will work with a dataset that includes information about employees and apply various data transformation techniques, including handling missing values, filtering, and performing basic data analysis.

Dataset Overview:

The dataset contains the following columns:

employee_id: Unique identifier for each employee.

name: Name of the employee.

age: Age of the employee.

department: The department where the employee works (e.g., HR, Engineering, Marketing).

salary: Annual salary of the employee.

work_experience: Number of years of work experience the employee has.

## Task 1: Load the Data
Objective: Load the dataset into a Pandas DataFrame.

Instructions:

Create a DataFrame from the provided dataset.

Display the first few rows of the dataset to ensure it loaded correctly.

In [1]:
import pandas as pd

# Create a basic dataset
data = {
    'employee_id': range(1, 21),
    'name': ['John', 'Jane', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack', 'Karen', 'Leo', 'Mia', 'Nina', 'Olivia', 'Paul', 'Quinn', 'Rita'],
    'age': [22, 25, 28, 35, 40, 42, 50, 60, 65, 30, 28, 24, 37, 41, 48, 33, 29, 32, 45, 38],
    'department': ['HR', 'Engineering', 'Marketing', 'Finance', 'Sales', 'HR', 'Engineering', 'Marketing', 'Finance', 'Sales', 'HR', 'Engineering', 'Marketing', 'Finance', 'Sales', 'HR', 'Engineering', 'Marketing', 'Finance', 'Sales'],
    'salary': [50000, 60000, 55000, 75000, 80000, 85000, 100000, 110000, 120000, 65000, 67000, 72000, 85000, 90000, 95000, 48000, 67000, 70000, 80000, 88000],
    'work_experience': [1, 3, 5, 7, 10, 12, 15, 18, 20, 3, 1, 6, 4, 8, 5, 7, 3, 2, 6, 5],
}

df = pd.DataFrame(data)
display(df.head(10))

### Task 2: Data Exploration

Objective: Explore the dataset to get an understanding of its structure.

Instructions:

Check for missing values in the dataset.

Get the summary statistics of numeric columns (age, salary, work_experience).

In [2]:
missing_values = df.isnull()
rows_with_nulls = df[missing_values.any(axis=1)]
display(rows_with_nulls)
rows_with_nulls = len(rows_with_nulls)
print(f"Number of rows with nulls: {rows_with_nulls}")

mean_age = df['age'].mean()
median_age = df['age'].median()
mode_age = df['age'].mode()[0]
std_age = df['age'].std()

mean_salary = df['salary'].mean()
median_salary = df['salary'].median()
mode_salary = df['salary'].mode()[0]
std_salary = df['salary'].std()

mean_work_experience = df['work_experience'].mean()
median_work_experience = df['work_experience'].median()
mode_work_experience = df['work_experience'].mode()[0]
std_work_experience = df['work_experience'].std()

print(f"Age - Mean: {mean_age}, Median: {median_age}, Mode: {mode_age}, Std Dev: {std_age}")
print(f"Salary - Mean: {mean_salary}, Median: {median_salary}, Mode: {mode_salary}, Std Dev: {std_salary}")
print(f"Work Experience - Mean: {mean_work_experience}, Median: {median_work_experience}, Mode: {mode_work_experience}, Std Dev: {std_work_experience}")

Number of rows with nulls: 0
Age - Mean: 37.6, Median: 36.0, Mode: 28, Std Dev: 11.627553482998906
Salary - Mean: 78100.0, Median: 77500.0, Mode: 67000, Std Dev: 19150.09962870882
Work Experience - Mean: 7.05, Median: 5.5, Mode: 3, Std Dev: 5.414162714098722

### Task 3: Data Transformation

Objective: Perform basic data transformations such as creating new columns and renaming existing ones.

Instructions:

Create a new column called years_to_retirement by subtracting the age from 65.

Rename the salary column to annual_salary.

Sort the DataFrame based on work_experience in descending order.

In [3]:
df['years_to_retirement'] = df['age'].apply(lambda x: 65-x)
df.rename(columns={'salary': 'annual_salary'}, inplace=True)
transformed_df = df.sort_values(by='work_experience', ascending=False)
display(transformed_df)

### Task 4: Handling Missing Data

Objective: Handle missing data (if any).

Instructions:

Introduce some missing values in the annual_salary column.

Handle the missing data by either filling it with the mean salary or dropping the rows with missing values.

In [6]:
import numpy as np
df.replace(67000, np.nan, inplace=True)
df = df.fillna(mean_salary)
display(df)

df.replace(mean_salary, np.nan, inplace=True)
df_cleaned = df.dropna()
display(df_cleaned)

## Task 5: Data Filtering and Selection
Objective: Select specific data based on conditions.

Instructions:

Filter the data to show only employees who are older than 30.

Select only the columns name, age, and annual_salary.

In [4]:
filtered_df = df[df['age'] > 30]
selected_df = filtered_df[['name','age','annual_salary']]
display(selected_df)

### Task 6: Data Aggregation
Objective: Perform group-based aggregation.

Instructions:

Group the data by department and calculate the average salary for each department.

In [5]:
AVG_Salary_by_Department = df.groupby('department')['annual_salary'].mean().reset_index()
display(AVG_Salary_by_Department)

Jose Vilardy Comments:
Well done, excellent work!